<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
	<header> 
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Examen</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Productores <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/finca">Fincas</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/cafe">Agregar Cafe</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link " href="/buscar">Buscar Productores</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</header>
	<main class="container">
		<h2>Crear Productor</h2>
		<form action="#" th:action="@{/}" th:object="${productor}" method="post">
		  <div class="form-group">
		    <label for="cedula">Cedula</label>
		    <input th:field="*{cedula}" type="text" class="form-control" id="cedula" aria-describedby="emailHelp" placeholder="Digite su cedula">		   		  
		    </div>
		  <div class="form-group">
		    <label for="nombre">Nombre</label>
		    <input th:field="*{nombre}" type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Digite su nombre">		  
		    </div>
		  <div class="form-group">
		    <label for="empresa">Empresa</label>
		    <input th:field="*{empresa}" type="text" class="form-control" id="empresa" placeholder="Digite su empresa">
		  </div>
		  <div class="form-group">
		    <label for="provincia">Provincia</label>
		    <input type="text"  th:field="*{provincia}" class="form-control" id="provincia" placeholder="Digite su provicia">
		  </div>
		  <div class="form-group">
		    <label for="distrito">Distrito</label>
		    <input type="text"  th:field="*{distrito}" class="form-control" id="distrito" placeholder="Digite su distrito">
		  </div>
		  <div class="form-group">
		    <label for="canton">Canton</label>
		    <input type="text"  th:field="*{canton}" class="form-control" id="canton" placeholder="Digite su canton">
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlTextarea1">Digite su direccion</label>
		    <textarea th:field="*{direccion}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>

<h2> Productores </h2>
<table class="table">
  <thead >
 	<tr>
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Empresa</th>
      <th scope="col">Direccion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="entry,status : ${productores}">
      <td  th:text="${entry.cedula}"scope="col">Cedula</th>
      <td th:text="${entry.nombre}" scope="col">Nombre</th>
      <td th:text="${entry.empresa}" scope="col">Empresa</th>
      <td th:text="${entry.provincia + ' ' + entry.canton + ' '+ entry.distrito + ', ' + entry.direccion }" scope="col">Direccion</th>
      <td  scope="col"><a th:href="${'/'+ entry.cedula}">Ver productor</a></th>
  
    </tr>
   
  </tbody>
</table>
	</main>
	
	
</body>
</html>